{% extends 'layout.html' %} {% block body %}


<div class="container" id="main">
    <div class="row">

    </div>

    <div class="row">
        <div class="col s12 m4 l4 center-align materialboxed">
            <img src="{{album_art}}" class="hoverable responsive-img"/>
            <h5 class="center-align">{{album_name}}</h5>
        </div>

        <div class="col s12 m4 l4 center-align">
            <div class="row">
                <h4>{{track_name}}</h4>
                <h5 class="tooltipped" data-html="true" data-tooltip="<img src = {{artist_image}} />">
                    {{artist_name}}</h5>
            </div>
            <div class="row">
                <iframe src="https://open.spotify.com/embed?uri=spotify:track:{{id}}"
                        frameborder="0" allowtransparency="true" height="80"></iframe>
            </div>
            <div class="row center-align">
                <div id="progress1" class="tooltipped" data-tooltip="Popularity: {{popularity}}%"></div>
                <script>
                    $('#progress1').LineProgressbar({
                        percentage: {{popularity}},
                        ShowProgressCount: false,
                        fillBackgroundColor: '#0277bd',
                        radius: '5px',
                    });
                </script>
            </div>
        </div>

        <div class="col s12 m4 l4 center-align">
            <h5>Recommendations</h5>
            {% for r in recommendations %}
            <div class="col s6 m6 l6 center">
                <a href={{r.url}} target="_blank"><img src={{r.album_art}} class="hoverable responsive-img tooltipped"
                                                       data-html="true"
                                                       data-tooltip="{{r.name}}<br/>{{r.album_name}}"></a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l12 center-align">
            <div class="card light-blue darken-4">
                <div class="card-content white-text">
                    <span class="card-title flow-text">Lyrics</span>
                    <div class="lyrics">
                        <p class="flow-text" style="white-space: pre-line">{{lyrics}}</p>
                    </div>
                    <div class="divider"></div>
                    <br>
                    <p>Lyrics powered by www.musixmatch.com. This Lyrics is NOT for Commercial use and only 30% of
                        the
                        lyrics
                        are returned.</p>
                </div>
            </div>
        </div>
    </div>


    <div>
        <table class="bordered highlight centered">
            <thead class="z-index-4">
            <tr class="light-blue darken-2 white-text">
                <th>Track Number</th>
                <th>Track Name</th>
                <th>Listen on Spotify</th>
            </tr>
            </thead>

            <tbody>
            {% for track in album_tracks %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{track.name}}</td>
                <td><a href={{track.url}} target="_blank"><i class="material-icons">play_arrow</i></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='matchheight.js')}}"></script>
<script src="{{ url_for('static', filename='script.js')}}"></script>
{% endblock %}
