{% extends 'layout.html' %} {% block body %}


<div class="container" id="main">
    <div class="row">

    </div>

    <div class="row">
        <div class="col s12 m4 l4 item">
            <img src="{{album_art}}" class="materialboxed hoverable responsive-img "/>
            <h5 class="center-align">{{album_name}}</h5>
        </div>

        <div class="col s12 m4 l4 center-align item">
            <div class="row">
                <h4>{{track_name}}</h4>
                <h5>{{artist_name}}</h5>
            </div>
            <div class="row">
                <a href={{url}} target="_blank">Listen on Spotify</a>
            </div>
            <div class="row">
                <h5>Popularity</h5>
                <div class="progress">
                    <a class="btn tooltipped" data-tooltip={{popularity}}>
                        <div class="determinate amber darken-4" style="width: {{popularity}}%">
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col s12 m4 l4 center-align item">
            <img src="{{artist_image}}" class="hoverable responsive-img"/>
        </div>
    </div>
    <div>
        <table class="bordered highlight centered">
            <thead class="z-index-4">
            <tr class="amber darken-2 white-text">
                <th>Track Number</th>
                <th>Track Name</th>
                <th>Listen on Spotify</th>
            </tr>
            </thead>

            <tbody>
            {% for track in album_tracks %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{track.name}}</td>
                <td><a href={{track.url}} target="_blank">Listen</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='matchheight.js')}}"></script>
<script src="{{ url_for('static', filename='script.js')}}"></script>
{% endblock %}
